body {
    height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.color {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    transition: border 0.15s ease;
    border: solid 0px transparent;
}

.color-active {
    border: solid 4px #E0E0E0 !important;
}

#color-palette {
    margin: 10px;
    padding: 20px;
    background-color: #E0E0E0;
    border: solid 1px lightgrey;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(10, auto);
    gap: 2px;
}

#color-palette-container {
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 10;

    transform: translateY(100%);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

#color-palette-container.visible {
    transform: translateY(0);
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    display: grid;
    aspect-ratio: 1/1;
    height: 100%;
    margin: auto;
}

#paint-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: lightblue;
    border: solid 1px lightgrey;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease 0.1s;
}

#paint-button.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.pixel {
    position: relative;
    user-select: none;
}

.pixel:hover {
    opacity: 0.5;
}

.pixel-active {
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0%, 100% {filter: none;}
    50% {filter: invert(0.5) contrast(1.2);}
}