body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #252525;
}

.color {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
}

.color-active {
    border: solid 2px grey;
}

#color-palette {
    margin: 10px;
    padding: 20px;
    background-color: blanchedalmond;
    border: solid 1px lightgrey;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(10, auto);
    gap: 2px;
}

#color-palette-container {
    width: 100%;
    bottom: 0;
    position: fixed;
    z-index: 10;

    transform: translateY(100%);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

#color-palette-container.visible {
    transform: translateY(0);
    opacity: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paint-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: lightblue;
    border: solid 1px lightgrey;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease 0.1s;
}

#paint-button.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.pixel {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    user-select: none;
}

.pixel:hover {
    opacity: 0.5;
}

.pixel-active {
    border: solid 2px white;
}

.row {
    display: flex;
}